<% if (post.prev || post.next) { %>
    <table id="article-nav">
        <% if (post.prev) { %>
            <tr role="presentation">
                <th>Newer post</th>
                <td>
                    <a href="<%- url_for(post.prev.path) %>" id="article-nav-newer" class="article-nav-link-wrap">
                        <span class="article-nav-link-title"><%= post.prev.title || '(no title)' %></span>
                    </a>
                </td>
            </tr>
        <% } %>
        <% if (post.next) { %>
            <tr role="presentation">
                <th>Older post</th>
                <td>
                    <a href="<%- url_for(post.next.path) %>" id="article-nav-older" class="article-nav-link-wrap">

                        <span class="article-nav-link-title"><%= post.next.title || '(no title)' %></span>
                    </a>
                </td>
            </tr>
        <% } %>
    </table>
<% } %>
