<div id="back-to-top" data-toggle="tooltip" data-placement="left" title="Back to top">
    <a href="javascript:;" title="Back to top">
        <div class="arrow"></div>
        <div class="stick"></div>
    </a>
</div>
