@charset "utf-8";

@import "variables";
@import "mixins";

$highlight-color:    $brand-primary;
$spacing-unit:       30px;
$navbar-nav-padding: 7px;
$nbsp:               "\00a0";
$sidebar-bg-color:   #222;

@import "layout";
@import "bootstrap";
@import "components";
