<% if (site.categories.length){ %>
  <div class="sidebar-module">
    <h4><i class="fa fa-th-list"></i> Categories</h4>
    <%- list_categories({show_count: theme.show_count, class: 'sidebar-module'}) %>
  </div>
<% } %>
