/*
 * Pagination
 */
/*
#page-nav .pagination {
    margin-top: 0;
    margin-bottom: 30px;
}
#page-nav .pagination .active>* {
    background-color: #428bca;
    border-color: #428bca;
}
#page-nav .pagination>li:last-child>* {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
#page-nav .pagination>li:first-child>* {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
*/
